In [35]:
import json
import utils as u
import matplotlib.pyplot as plt
import pandas as pd

In [36]:
with open("creds.json") as file:
    creds = json.load(file)

creds

{'host': 'localhost', 'user': 'root', 'password': 'root', 'database': 'nba'}

In [37]:
teamIds = 2, 11

query = '''
select * from games where visitor_id in (2, 11) and home_id in ({}, {})
'''.format(teamIds[0], teamIds[1])

In [38]:
data = u.sqlTodf(query, creds)
n = len(data.index)
data

,Visitor,VPoints,Home,HPoints,Attend,Arena,day,date,visitor_id,home_id,home_victory,mov
0,BOS,87,LAL,86,18997.0,STAPLES Center,Thu,2010-02-18,2,11,0,-1
1,BOS,89,LAL,102,18997.0,STAPLES Center,Thu,2010-06-03,2,11,1,13
2,BOS,103,LAL,94,18997.0,STAPLES Center,Sun,2010-06-06,2,11,0,-9
3,BOS,67,LAL,89,18997.0,STAPLES Center,Tue,2010-06-15,2,11,1,22
4,BOS,79,LAL,83,18997.0,STAPLES Center,Thu,2010-06-17,2,11,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
113,LAL,94,BOS,107,18624.0,TD Banknorth Garden,Fri,2007-11-23,11,2,1,13
114,LAL,88,BOS,98,18624.0,TD Banknorth Garden,Thu,2008-06-05,11,2,1,10
115,LAL,102,BOS,108,18624.0,TD Banknorth Garden,Sun,2008-06-08,11,2,1,6
116,LAL,92,BOS,131,18624.0,TD Banknorth Garden,Tue,2008-06-17,11,2,1,39
117,LAL,110,BOS,109,18624.0,TD Banknorth Garden,Thu,2009-02-05,11,2,0,-1

Naive Priors

In [41]:
victoryCondition = ((data["home_id"] == teamIds[0]) & (data["home_victory"] == 1)) | ((data["visitor_id"] == teamIds[0]) & (data["home_victory"] == 0))
team0Victory = len(data[victoryCondition].index)
prior0 = team0Victory / n

victoryCondition = ((data["home_id"] == teamIds[1]) & (data["home_victory"] == 1)) | ((data["visitor_id"] == teamIds[1]) & (data["home_victory"] == 0))
team1Victory = len(data[victoryCondition].index)
prior1 = team1Victory / n

priors = prior0, prior1
priors

(0.4491525423728814, 0.5508474576271186)